.admin h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.actions {
    display: flex;
    gap: 1rem;
}

.edit-btn, .delete-btn {
    font-size: 1.1rem;
    color: #f6f6ee;
    border-radius: 13px;
    width: 6.4rem;
    height: 2.5rem;
    cursor: pointer;
    border: 1px solid #f6f6ee;
}

.edit-btn {
    background-color: #61d116;
    opacity: 1;
    text-align: center;
    
}


.delete-btn {
    background-color: #ee2222;
}