.admin h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.actions {
    display: flex;
    gap: 1rem;
}

.edit-btn, .delete-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    color: #f6f6ee;
    border-radius: 13px;
    width: 6.3rem;
    height: 2.2rem;
    cursor: pointer;
    border: 1px solid #f6f6ee;
}

.edit-btn {
    background-color: #cac418;
    opacity: 1;
}

.delete-btn {
    background-color: #ee2222;
}