.new-post {
    text-align: center;
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 1.1rem;
}


form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-control label {
    margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
    padding: 1rem;
    border: none;
    border-radius: 5px;

}

.btn-enviar {
    border-radius: 8px;
    width: 5.5rem;
    height: 1.4rem;
}