* {
    margin: 0;
    padding: 0;
    font-family: "Blinker";
}

body {
    background-color: #1b1515;
    color: #dcc1c1;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    opacity: 0.7;
    color: #dcc1c1;
    transition: 0.3s;
}

a:hover{
    opacity: 1;
}

p {
    color: #f0d9d9;
}
